<div class='content'>
  <div>
    <%= render(MagiratorGuiPhxWeb.StatisticsView, "color_occurences.html", colors_count: @colors_used, label: "Color occurances") %>
  </div>
</div>
<div class='menu'>
  <%= render(ComponentView, "plaque.html", %{title: "Stats"}) %>
  <%= button("Main", to: main_path(@conn, :main), method: "get", class: "button border option-button") %>
</div>