<div class='content'>
  <div>
    <%= render(MagiratorGuiPhxWeb.TierView, "tiers.html", tiers: @tiers) %>
  </div>
</div>
<div class='menu'>
  <%= render(ComponentView, "plaque.html", %{title: "Ranking"}) %>
  <%= button("Main", to: main_path(@conn, :main), method: "get", class: "button border option-button") %>
</div>