/*Container*/
body {
  /* background-color: lightblue; */
  display: grid;
  grid-template-areas: 
    'header header header header header header'
    'content content content content content menu';
}

.header {
  grid-area: header;
  margin-top: 4vh;
  /* background-color: lightcoral; */
}

.content {
  grid-area: content;
  /* background-color: lightcyan; */
}

.menu {
  grid-area: menu;
  /* background-color: lightgoldenrodyellow; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;  
  justify-content: center;
  padding-top: 25px;
  align-content: flex-start;
}

/* Content */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;  
  justify-content: center;
  padding-top: 25px;
}

.list-item {
}

.page-title {
  height: 50%;
  margin: auto;
}

/* Buttons */
.button {
  width: 100px;
  background-color: white;
  border: solid 2px black;
  height: 50px;
}

.back-button {
  /* background-color: lightgray; */
}

.button-plaque {
  /* background-color: lightgreen; */
  width: 100px;
  height: 50px;
  display: flex;
  background-color: orange;
  box-sizing: border-box;
}



/* Table */
table.flat-table {
  border: 2px solid black;
  margin: 2px;
  padding: 5px;
  border-collapse: collapse;
  width: 100%;
}

.flat-table.cell {
  padding: 5px;
  margin: 2px;
  border-collapse: collapse;
}

th.cell {
  text-align: left;
  padding: 5px;
  border-bottom: 2px solid black;
}

td.cell {
  padding: 5px;
  border: 1px solid gray;
}


thead {
  text-align: start;
}


/* Styles */
/* Text */
* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.main-title {
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.page-title {
  text-align: center;
  font-size: 1.5em;
}

.table-title {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px;
}

/* Color */
.negative {
  color: red;
}