/*Container*/
body {
  /* background-color: lightblue; */
  display: grid;
  grid-template-areas: 
    'header header header header header header'
    'content content content content content menu';
}

.header {
  grid-area: header;
  margin-top: 4vh;
  /* background-color: lightcoral; */
}

.content {
  grid-area: content;
  /* background-color: lightcyan; */
}

.menu {
  grid-area: menu;
  /* background-color: lightgoldenrodyellow; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;  
  justify-content: center;
  padding-top: 25px;
  align-content: flex-start;
}

/* Content */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;  
  justify-content: flex-start;
  padding-top: 25px;
  margin: 2px;
}

.list-item {
  width: 90px;
  background-color: white;
  border: solid 2px black;
  height: 50px;
  padding: 5px;
}

.page-title {
  height: 50%;
  margin: auto;
}

.input-box {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.input-row {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 24px;
  width: 100%;
  max-width: 300px;
}

.form {
  margin: 2px;
  padding: 2px;
}

.breaker {
  margin-left: 12px;
  margin-top: 24px;
}

/* Input */
.input-text {
  border: 2px solid black;
}

.input-radio {
  margin-left: 10px;
  margin-top: 0px;
}

.input-check {
  margin-left: 10px;
  margin-top: 0px;
}

/* Buttons */
.button {
  width: 100px;
  background-color: white;
  height: 50px;
}

.back-button {
  /* background-color: lightgray; */
}

.submit {
  margin: 5px;
  margin-top: 24px;
}

.button-plaque {
  /* background-color: lightgreen; */
  width: 100px;
  height: 50px;
  display: flex;
  background-color: orange;
  box-sizing: border-box;
}



/* Table */
table.flat-table {
  margin: 2px;
  padding: 5px;
  border-collapse: collapse;
  width: 100%;
}

.flat-table.cell {
  padding: 5px;
  margin: 2px;
  border-collapse: collapse;
}

th.cell {
  text-align: left;
  padding: 5px;
  border-bottom: 2px solid black;
}

td.cell {
  padding: 5px;
  border: 1px solid gray;
}


thead {
  text-align: start;
}

p.facts {
  font-weight: bold;
}


/* Styles */
.border-l {
  border: 1px solid black;
}

.border {
  border: 2px solid black;
}

.border-h {
  border: 4px solid black;
}

/* Text */
* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.main-title {
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.page-title {
  text-align: center;
  font-size: 1.2em;
  padding-top: 10px;
}

.item-title {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px;
}

.list-title {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: -20px;
}

/* Color */
.positive {
  color: green;
}

.negative {
  color: red;
}

.negative-backdrop {
  background-color: tomato;
}

.neutral-backdrop {
  background-color:lightgray;
}

.positive-backdrop {
  background-color: darkseagreen;
}
