<h3>Ratings</h3>

<table>
  <thead>
    <tr>
      <th>P-Diff (no cap)</th>
      <th>P-Diff (cap 3)</th>
      <th>P-Dist (2)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @rating_data.pdiff %></td>
      <td><%= @rating_data.pdiff3 %></td>
      <td><%= @rating_data.pdist2 %></td>
    </tr>
  </tbody>
</table>
