<h4> Match #<%= @match.id %> </h4>
<div>
  <%= @player_one.name %>
  <%= @deck_one.name %>

  <br>
  vs
  <br>

  <%= @player_two.name %>
  <%= @deck_two.name %>
</div>

<br>

<%= form_for @conn, game_path(@conn, :create), [as: :match], fn f -> %>


  <%= submit("Add") %><br>

<% end %>

<ul>
  <%= for game <- @games do %>
    <li> 
      <%= game.id %>
    </li>
  <%= end %>
</ul>

<br>
<%= button("Main", to: main_path(@conn, :main), method: "get") %><br>


